{% extends 'layout.html' %}
{% block content %}
<h1 style="text-align: center">{{ team.name }}</h1>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <table class="table table-striped">
                    <tr>
                        <th>Message</th>
                        <th>Answers</th>
                    </tr>
                    {% for msg in msglist %}
                        <tr>
                            <td>{{ msg.parent.user_name }}({{ msg.parent.user_id }}):{{ msg.parent.text }}</td>
                            <td>
                            {% for answ in msg.answers %}
                                <p>{{ answ.text }}</p>
                            {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
{% endblock %}