<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SlackBot</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'layout.css'%}">
</head>
<body>
    {% if user.is_authenticated %}
        <div class="row" style="margin-top: 10px;">
            <a class="btn btn-danger col-sm-1 col-sm-offset-10" href="{%url 'logout' %}">Logout</a>
        </div>
    {% endif %}

    {% block content %}
    {% endblock %}
</body>
</html>